*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Inter', sans-serif;;
}
 .header{
    background:#1f2937 ;
    padding: 40px 150px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 18px;
 }
 .navigation{
    display: flex;
    justify-content: space-between
 }
 .logo{
    font-size:50px;
    font-weight: 900;
    text-align: center;
    padding-top: 0;
 }
 ul {
    display: flex;
    justify-content: flex end;
    gap: 20px;
    align-items: center;
 }
 li{
    list-style: none;
 }
 a{
    text-decoration: none;
    color:aliceblue;
    font-weight: 700;
    
 }
 a:hover,.logo:hover{
    color:antiquewhite;
 }
 img{
    width: 700px;
    height:200px;
    transition:transform 1s;
    border-radius: 5px;
 }
 img:hover{
    transform: scale(1.1);
 }
 .hero{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex:1;
 }
 .button{
padding:8px 24px;
border-radius: 5px;
color: aliceblue;
background: #3882f6;
font-size: 16px;
font-weight: 700;
border: none;
margin-top: 30px;
cursor: pointer;
transition: transform 1s;
 }
 .button:hover{
    transform: scale(1.1);
 }
 .title{
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 30px;
    color:#f9faf8;
 }
 
 
